@import "src/assets/bootstarp/_functions";
@import "src/assets/bootstarp/_variables";
@import "src/my-variables";

.repo-card {
  min-width: 300px;
  max-width: 300px;
  &:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14);
    background: $light;
    cursor: pointer;
  }
}

.wrapper {
  overflow-y: auto;
  max-height: calc(100vh - #{$header-height});
}
