@import "src/assets/bootstarp/_functions";
@import "src/assets/bootstarp/_variables";
@import "src/my-variables";

.dashboard {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  .header {
    min-height: $header-height;
    max-height: $header-height;
  }
  .body,
  .sidenav {
    min-height: calc(100vh - #{$header-height});
    max-height: calc(100vh - #{$header-height});
  }
  .sidenav {
    min-width: $sidenav-width;
    max-width: $sidenav-width;
  }
  .body {
    min-width: calc(100vw - #{$sidenav-width});
    max-width: calc(100vw - #{$sidenav-width});
  }
}
